/* line 2, ../scss/_vertical-tabs.scss */
div.vertical-tabs {
  position: relative;
  /* IE6/7 */
  margin-bottom: 20px;
  border: none;
}
/* line 6, ../scss/_vertical-tabs.scss */
div.vertical-tabs .vertical-tabs-panes {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 11, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs-list {
  background: none;
  list-style: none;
  list-style-image: none;
  /* IE6 */
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  position: relative;
  /* IE6 */
  margin: 0;
  /* LTR */
  float: left;
  /* LTR */
}

/* line 23, ../scss/_vertical-tabs.scss */
.vertical-tabs .vertical-tabs-pane {
  margin: 0 !important;
  padding: 0 1em;
  border: 1px solid #ccc;
}

/* line 28, ../scss/_vertical-tabs.scss */
fieldset.vertical-tabs-pane legend {
  display: none;
}

/* line 31, ../scss/_vertical-tabs.scss */
fieldset.vertical-tabs-pane fieldset legend {
  display: block;
}

/* Layout of each tab */
/* line 36, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs-list li {
  background: #eee;
  border: 1px solid #ccc !important;
  border-top: 0 !important;
  padding: 0;
  margin: 0 !important;
  min-width: 0;
  /* IE7 */
  float: none;
}

/* line 45, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs-list li a {
  display: block;
  text-decoration: none;
  padding: 0.5em 0.6em !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
}
/* line 51, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs-list li a span {
  font-weight: bold;
}

/* line 55, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs-list li a:focus strong,
.vertical-tabs ul.vertical-tabs-list li a:active strong,
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: underline;
}

/* line 60, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: 1px dotted;
}

/* line 63, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #fff;
  border-right-width: 0;
  /* LTR */
}

/* line 67, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: #000;
}

/* line 70, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs-list .summary {
  display: block;
  font-size: 12px;
}

/* line 74, ../scss/_vertical-tabs.scss */
.vertical-tabs ul.vertical-tabs ul.vertical-tabs-list .summary {
  line-height: normal;
  margin-bottom: 0;
}

/**
 * Prevent text inputs from overflowing when container is too narrow. "width" is
 * applied to override hardcoded cols or size attributes and used in conjunction
 * with "box-sizing" to prevent box model issues from occurring in most browsers.
*/
/* line 84, ../scss/_vertical-tabs.scss */
.vertical-tabs .form-type-textfield input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 90, ../scss/_vertical-tabs.scss */
* html .vertical-tabs .form-type-textfield,
* html .vertical-tabs .form-textarea-wrapper {
  width: 95%;
  /* IE6 */
}

/* line 96, ../scss/_vertical-tabs.scss */
.tabs-left > .tab-content, .tabs-right > .tab-content {
  padding: 0;
}

/* line 2, ../scss/partials/_media.scss */
.media-widget .preview {
  margin-right: 0px;
}
/* line 6, ../scss/partials/_media.scss */
.media-widget .preview .media-item {
  margin-right: 10px;
}
/* line 11, ../scss/partials/_media.scss */
.media-widget button, .media-widget a {
  vertical-align: top;
}

/* line 1, ../scss/partials/_webform.scss */
input.webform-calendar {
  vertical-align: middle;
  top: -2px;
  position: relative;
}

/**
* labels
*/
/* line 13, ../scss/forms.scss */
.bootstrap-label {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: right;
  padding-top: 7px;
}
/* line 24, ../scss/forms.scss */
.bootstrap-label.label-left {
  text-align: left;
}
/* line 27, ../scss/forms.scss */
.bootstrap-label.label-right {
  text-align: right;
}

@media only screen and (max-width: 480px) {
  /* line 34, ../scss/forms.scss */
  .bootstrap-label {
    text-align: left;
  }
  /* line 36, ../scss/forms.scss */
  .bootstrap-label.label-left {
    text-align: left;
  }
  /* line 39, ../scss/forms.scss */
  .bootstrap-label.label-right {
    text-align: left;
  }
}
/* line 45, ../scss/forms.scss */
a.bootstrap-label {
  text-decoration: none;
  color: #333333;
}

/* line 50, ../scss/forms.scss */
a.bootstrap-label:hover {
  text-decoration: none;
  color: #333333;
}

/* Make sure collapsed fieldsets have a little space */
/* line 56, ../scss/forms.scss */
fieldset {
  min-height: 38px;
}

/* Make descriptions a bit smaller */
/* line 61, ../scss/forms.scss */
.help-block, .filter-guidelines {
  font-size: 0.875em;
}

/* line 65, ../scss/forms.scss */
.filter-guidelines .tips {
  margin: 0;
  padding: 0;
}
/* line 68, ../scss/forms.scss */
.filter-guidelines .tips li {
  list-style: none;
}

/* Box sizing hates the tabledrag */
/* line 75, ../scss/forms.scss */
a.tabledrag-handle .handle {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* Upload buttons should be aligned with the choose file button */
/* line 80, ../scss/forms.scss */
.form-control.form-file {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 0.5em;
  /* Keep some space between the buttons */
}

/* Make actions links line up nicely in a row */
/* line 87, ../scss/forms.scss */
ul.action-links {
  padding: 0;
  margin: 0 0 1em 0;
}
/* line 90, ../scss/forms.scss */
ul.action-links li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/* Fix the .checkbox class from interfering with forms */
/* line 96, ../scss/forms.scss */
td.checkbox, th.checkbox {
  display: table-cell;
  margin: 0;
}

/* Make legends have an actaul border */
/* line 103, ../scss/forms.scss */
legend {
  top: 26px;
  position: relative;
  /* display: none; */
  border-top: 1px solid #ddd !important;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* stop being so harsh with form fields */
/* line 115, ../scss/forms.scss */
.form-item.error.has-description {
  margin-bottom: -5px;
}
/* line 118, ../scss/forms.scss */
.form-item.error.no-description {
  margin-bottom: 5px;
}

/* line 125, ../scss/forms.scss */
.error.messages-inline,
label.error {
  border-color: #e14b4b !important;
  color: #fff;
  background: #e14b4b !important;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 3px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  margin: 5px 0px 0px 0px;
}
/* line 136, ../scss/forms.scss */
.error.messages-inline::before,
label.error::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #e14b4b !important;
  left: 10%;
  top: -4px;
  position: absolute;
  z-index: 999999;
}

/* line 154, ../scss/forms.scss */
.error-count {
  background: #e14b4b;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #ffffff;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  font-weight: normal;
  float: right;
  margin-left: 10px;
}

/* Link field column fix */
/* line 173, ../scss/forms.scss */
.link-field-column .form-item .form-control {
  width: 95%;
}

/* line 181, ../scss/forms.scss */
.form-checkboxes {
  margin-bottom: 10px;
}

/* Add some space around they icon */
/* line 190, ../scss/forms.scss */
form .field-add-more-submit {
  float: right;
  margin-bottom: 15px;
}

/* line 199, ../scss/forms.scss */
.field-multiple-table tr:last-child .form-item {
  margin-bottom: 0px;
}

/* Reduce the margin below form groups that have errors and then add the margin onto the error message */
/* line 213, ../scss/forms.scss */
.form-horizontal .form-group .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 219, ../scss/forms.scss */
.form-horizontal {
  /* When a previous field does not fill the entire grid width then we need to clear for the next element */
  clear: both;
}

/* line 225, ../scss/forms.scss */
.form-inline label.radio-inline {
  padding-top: 0px;
}

/**
 * Fieldsets
 */
/* Make field labels be inline */
/* line 270, ../scss/forms.scss */
.field-label-inline {
  display: table;
}
/* line 272, ../scss/forms.scss */
.field-label-inline .field-label {
  display: table-cell;
  float: none;
}
/* line 276, ../scss/forms.scss */
.field-label-inline .field-items {
  display: table-cell;
  float: none;
}

/* line 282, ../scss/forms.scss */
.cke_dialog *,
.cke_wrapper * {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 287, ../scss/forms.scss */
.password-strength {
  width: 17em;
  float: right;
  margin-top: 1.4em;
}

/* line 305, ../scss/forms.scss */
.webform-container-inline div, .webform-container-inline div.form-item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 307, ../scss/forms.scss */
.webform-container-inline div.form-type-radio, .webform-container-inline div.form-item.form-type-radio {
  display: block;
}

/* line 313, ../scss/forms.scss */
.webform-container-inline label {
  margin-right: 0;
}

/* line 319, ../scss/forms.scss */
.container-inline > div,
.container-inline > label {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
}
/* line 323, ../scss/forms.scss */
.container-inline > div:last-child,
.container-inline > label:last-child {
  margin-right: 0;
}

/* line 328, ../scss/forms.scss */
fieldset.field-group-fieldset {
  border: 1px solid #ccc;
}

/* line 332, ../scss/forms.scss */
.filter-wrapper {
  margin-bottom: 0;
}

/**
* Maxlength counter
*/
/* line 340, ../scss/forms.scss */
.counter {
  font-size: 12px;
  color: #747474;
}

/**
* When the maxlength counter is inside an input group, all hell breaks loose
*/
/* line 348, ../scss/forms.scss */
.input-group {
  font-size: 12px;
}
/* line 349, ../scss/forms.scss */
.input-group .counter {
  position: absolute;
  bottom: -20px;
  left: 0px;
}

/**
* Panels
*/
/* line 363, ../scss/forms.scss */
.panel-heading a.title {
  display: block;
}
/* line 365, ../scss/forms.scss */
.panel-heading a.title:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}
/* line 371, ../scss/forms.scss */
.panel-heading a.title.collapsed:after {
  content: "\e080";
}

/* line 378, ../scss/forms.scss */
.panel.horizontal-tabs-pane > .panel-heading,
.panel.vertical-tabs-pane .panel.horizontal-tabs-pane > .panel-heading {
  display: none;
}

/**
* Field types
*/
/* line 392, ../scss/forms.scss */
.field-type-range-integer .form-group .form-group {
  margin-bottom: 0px;
}
/* line 397, ../scss/forms.scss */
.field-type-range-integer .field-values-wrapper .form-item {
  float: left;
  padding-right: 10px !important;
}

/* line 407, ../scss/forms.scss */
.field-type-datetime .form-group .form-group {
  margin-bottom: 0px;
}

/* line 414, ../scss/forms.scss */
.nav.tabs--primary {
  margin-bottom: 20px;
}

/* line 418, ../scss/forms.scss */
.nav.tabs--secondary {
  margin-bottom: 20px;
}

/**
* Alerts
*/
/* line 426, ../scss/forms.scss */
.region.region-help {
  display: table;
  clear: both;
  width: 100%;
}
/* line 430, ../scss/forms.scss */
.region.region-help > .icon {
  display: table-cell;
  vertical-align: top;
}

/**
* Webform tables
*/
/* line 440, ../scss/forms.scss */
td.webform-component-name > * {
  display: table-cell;
}

/**
* Panels, fix for /admin/content 'update options' panel
*/
/* line 449, ../scss/forms.scss */
.container-inline.panel > div {
  display: block;
}

/**
* Forums
*/
/* line 462, ../scss/forms.scss */
.pane-forum-topic-list-sort {
  text-align: right;
}

/* line 465, ../scss/forms.scss */
#ctools-jump-menu {
  text-align: right;
}

/*
* Lists
*/
/* line 474, ../scss/forms.scss */
ul.list-unstyled {
  margin: 0;
  padding: 0;
}

/* line 480, ../scss/forms.scss */
.glyphicon {
  top: 0.1em;
}

/* line 486, ../scss/forms.scss */
.pane-forum-list .panel-group .panel {
  margin-bottom: 30px;
}

/* line 497, ../scss/forms.scss */
.form-horizontal .date-no-float .form-type-date-select select {
  margin-right: 5px;
}

/* line 509, ../scss/forms.scss */
#multichoice-alternatives-table td div:last-child .form-group,
.field-multiple-table td div:last-child .form-group {
  margin-bottom: 0;
}
/* line 514, ../scss/forms.scss */
#multichoice-alternatives-table td .checkbox,
.field-multiple-table td .checkbox {
  padding-top: 0px;
}

/* line 521, ../scss/forms.scss */
a.tip {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: inherit;
}

/* line 526, ../scss/forms.scss */
textarea {
  resize: vertical;
}
