
div.vertical-tabs {
  position: relative; /* IE6/7 */
  margin-bottom: 20px;
  border: none;
  .vertical-tabs-panes {
    padding-left:15px;
    padding-right:15px;
  }
}
.vertical-tabs ul.vertical-tabs-list {
  background: none;
  list-style: none;
  list-style-image: none; /* IE6 */
  border:none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top:0px;
  position: relative; /* IE6 */
  margin: 0; /* LTR */
  float: left; /* LTR */
}
.vertical-tabs .vertical-tabs-pane {
  margin: 0 !important;
  padding: 0 1em;
  border: 1px solid #ccc;
}
fieldset.vertical-tabs-pane legend {
  display: none;
}
fieldset.vertical-tabs-pane fieldset legend {
  display: block;
}

/* Layout of each tab */
.vertical-tabs ul.vertical-tabs-list li {
  background: #eee;
  border: 1px solid #ccc !important;
  border-top: 0 !important;
  padding: 0;
  margin: 0 !important;
  min-width: 0; /* IE7 */
  float:none;
}
.vertical-tabs ul.vertical-tabs-list li a {
  display: block;
  text-decoration: none;
  padding: 0.5em 0.6em !important;
  @include border-radius(0);
  margin:0;
  span {
    font-weight:bold;
  }
}
.vertical-tabs ul.vertical-tabs-list li a:focus strong,
.vertical-tabs ul.vertical-tabs-list li a:active strong,
.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: underline;
}
.vertical-tabs ul.vertical-tabs-list li a:hover {
  outline: 1px dotted;
}
.vertical-tabs ul.vertical-tabs-list li.selected {
  background-color: #fff;
  border-right-width: 0; /* LTR */
}
.vertical-tabs ul.vertical-tabs-list .selected strong {
  color: #000;
}
.vertical-tabs ul.vertical-tabs-list .summary {
  display: block;
  font-size:12px;
}
.vertical-tabs ul.vertical-tabs ul.vertical-tabs-list .summary {
  line-height: normal;
  margin-bottom: 0;
}

/**
 * Prevent text inputs from overflowing when container is too narrow. "width" is
 * applied to override hardcoded cols or size attributes and used in conjunction
 * with "box-sizing" to prevent box model issues from occurring in most browsers.
*/
.vertical-tabs .form-type-textfield input {
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* html .vertical-tabs .form-type-textfield,
* html .vertical-tabs .form-textarea-wrapper {
  width: 95%; /* IE6 */
}


.tabs-left>.tab-content, .tabs-right>.tab-content {
  padding:0;
}