@import "compass/css3";
@import "vertical-tabs";
@import "partials/media";
@import "partials/webform";

/**
* labels
*/




.bootstrap-label {
  display: block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  text-align:right;
  padding-top: 7px;
  &.collapsed {


  }
  &.label-left {
    text-align:left;
  }
  &.label-right {
    text-align:right;
  }

}

@media only screen and (max-width: 480px) {
  .bootstrap-label {
    text-align:left;
    &.label-left {
      text-align:left;
    }
    &.label-right {
      text-align:left;
    }
  }
}

a.bootstrap-label {
  text-decoration:none;
  color:#333333;
}

a.bootstrap-label:hover {
  text-decoration:none;
  color:#333333;
}

/* Make sure collapsed fieldsets have a little space */
fieldset {
  min-height: 38px;
}

/* Make descriptions a bit smaller */
.help-block, .filter-guidelines {
  font-size:0.875em;
}
.filter-guidelines {
  .tips {
    margin:0;
    padding:0;
    li {
      list-style:none;
    }
  }
}

/* Box sizing hates the tabledrag */
a.tabledrag-handle .handle {
  @include box-sizing(content-box);
}

/* Upload buttons should be aligned with the choose file button */
.form-control.form-file {
  width:auto;
  @include inline-block();
  margin-right: 0.5em; /* Keep some space between the buttons */
}

/* Make actions links line up nicely in a row */
ul.action-links {
  padding:0;
  margin:0 0 1em 0;
  li {
    @include inline-block();
  }
}

/* Fix the .checkbox class from interfering with forms */
td.checkbox, th.checkbox {
  display:table-cell;
  margin:0;
}


/* Make legends have an actaul border */
legend {
  top: 26px;
  position: relative;
  /* display: none; */
  border-top: 1px solid #ddd !important;
  @include border-radius(0px);
}


/* stop being so harsh with form fields */
.form-item {

  &.error.has-description {
    margin-bottom: -5px;
  }
  &.error.no-description {
    margin-bottom: 5px;
  }
}


// Inline error messages
.error.messages-inline,
label.error {
  border-color: #e14b4b !important;
  color: #fff;
  background: #e14b4b !important;
  @include inline-block();
  padding: 3px 10px;
  @include border-radius(3px);
  position: relative;
  margin: 5px 0px 0px 0px;

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #e14b4b !important;
    left: 10%;
    top: -4px;
    position: absolute;
    z-index: 999999;
  }


}


.error-count {
  background:#e14b4b;
  @include border-radius(100%);
  width:20px;
  height:20px;
  @include inline-block();
  color:#ffffff;
  font-size:10px;
  line-height:20px;
  text-align:center;
  font-weight:normal;
  float:right;
  margin-left:10px;

}

/* Link field column fix */
.link-field-column {
  .form-item {
    .form-control {
      width: 95%;
    }
  }
}



.form-checkboxes  {
  margin-bottom:10px;
}

/* Add some space around they icon */
.glyphicon:before {

}

form .field-add-more-submit {
  float: right;
  margin-bottom:15px;
}

.tabledrag-toggle-weight-wrapper {
 // display:none;
}

.field-multiple-table tr:last-child .form-item {
  margin-bottom: 0px;
}



/* Reduce the margin below form groups that have errors and then add the margin onto the error message */
.form-group.error {

}
.form-group .error.messages-inline {

}

.form-horizontal .form-group .form-group {
  margin-left: 0px;
  margin-right: 0px;
}


.form-horizontal {
  /* When a previous field does not fill the entire grid width then we need to clear for the next element */
  clear:both;
}

.form-inline {
  label.radio-inline {
    padding-top:0px;
  }
}



/**
 * Fieldsets
 */

//// Fieldsets (label inline)
//.label-inline {
//  & > div {
//    & > fieldset {
//      border:1px solid #ddd;
//      margin-bottom:20px;
//    }
//  }
//}
//
//// Fieldsets (label above)
//.label-before {
//  & > .field-group-fieldset {
//    & > .panel-body {
//      padding:0;
//    }
//
//    & > .panel-content {
//      & > .panel-body {
//        padding:0;
//      }
//     }
//  }
//
//  & > .webform-component-fieldset {
//    & > .panel-body {
//      padding:0;
//    }
//  }
//}



/* Make field labels be inline */
.field-label-inline {
  display:table;
  .field-label {
    display:table-cell;
    float:none;
  }
  .field-items {
    display:table-cell;
    float:none;
  }
}

.cke_dialog *,
.cke_wrapper * {
  @include box-sizing(content-box);
}

.password-strength {
  width: 17em;
  float: right;
  margin-top: 1.4em;
}
.password-indicator {
  .indicator {

  }
}

ul {
  li {

  }
}

// Make inline divs line up proper
.webform-container-inline div, .webform-container-inline div.form-item {
  @include inline-block();
  &.form-type-radio {
    display:block;
  }
}

.webform-container-inline {
  label {
    margin-right:0;
  }
}


.container-inline > div,
.container-inline > label {
  @include inline-block();
  margin-right:10px;
  &:last-child {
    margin-right:0;
  }
}

fieldset.field-group-fieldset  {
  border:1px solid #ccc;
}

.filter-wrapper {
  margin-bottom:0;
}


/**
* Maxlength counter
*/
.counter {
  font-size:12px;
  color:#747474
}

/**
* When the maxlength counter is inside an input group, all hell breaks loose
*/
.input-group {
  .counter {
    position:absolute;
    bottom:-20px;
    left:0px;
  }
  font-size:12px;
}


/**
* Panels
*/
.panel-heading {

  a.title {
    display:block;
    &:after {
      font-family:'Glyphicons Halflings';
      content:"\e114";
      float: right;
      color: grey;
    }
    &.collapsed:after {
      content:"\e080";
    }
  }
}


.panel.horizontal-tabs-pane > .panel-heading,
.panel.vertical-tabs-pane .panel.horizontal-tabs-pane > .panel-heading {
  display: none;

}


/**
* Field types
*/

// Range integer
.field-type-range-integer {
 .form-group  {
   .form-group {
     margin-bottom:0px;
   }
 }
  .field-values-wrapper {
    .form-item {
      float: left;
      padding-right: 10px !important;
    }
  }
}


.field-type-datetime  {
  .form-group  {
    .form-group {
      margin-bottom:0px;
    }
  }
}


.nav.tabs--primary {
  margin-bottom:20px;
}

.nav.tabs--secondary {
  margin-bottom:20px;
}


/**
* Alerts
*/
.region.region-help {
  display: table;
  clear: both;
  width: 100%;
  & > .icon {
    display: table-cell;
    vertical-align: top;
  }
}


/**
* Webform tables
*/
td.webform-component-name > * {
  display:table-cell;
}


/**
* Panels, fix for /admin/content 'update options' panel
*/
.container-inline.panel {
  & > div {
    display:block;
  }
}




/**
* Forums
*/


.pane-forum-topic-list-sort {
  text-align:right;
}
#ctools-jump-menu {
  text-align:right;
}


/*
* Lists
*/

ul.list-unstyled {
  margin:0;
  padding:0;
}


.glyphicon {
  top: 0.1em;
}

.pane-forum-list {
  .panel-group {
    .panel {
      margin-bottom:30px;
    }
  }
}



.form-horizontal {
  .date-no-float {
    .form-type-date-select {
      select {
        margin-right:5px;
      }
    }
  }
}

#multichoice-alternatives-table,
.field-multiple-table {
  td {
    // Last div in table cell should have a bottom margin.
    div:last-child {
      .form-group {
        margin-bottom:0;
      }
    }
    // CHeckboxes inside the first cell of a table drag
    .checkbox {
      padding-top:0px;
    }
  }

}

a.tip {
  @include inline-block();
  color: inherit;
}

textarea { resize:vertical; }