.media-widget {
  .preview {
    // Remove the right margin that pushes the browse button out of line when the preview is empty.
    margin-right:0px;
    // Add them margin to the child element that only appears when there is an image.
    .media-item {
      margin-right: 10px;
    }
  }
  // Align the links and buttons top the top of the preview image.
  button, a {
    vertical-align: top;
  }
}