/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.row {
    clear: both;
}

.col-md-6 {
    width: 50%;
    float: left;
}

.col-md-8 {
    width: 66.66667%;
    float: left;
}

.col-md-4 {
    width: 33.33333%;
    float: left;
}

.col-md-3 {
    width: 25%;
    float: left;
}
